.image-count {
    position: absolute;
    bottom: 32px;
    left: 32px;
    border-radius: 100px;
    background: $color-white;
    padding: 4px 14px;
    @include transition;

    color: $color-title;
    font-family: $font-plus-jakarta;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    i {
        margin-right: 4px
    }
    &:hover {
        cursor: pointer;
        background-color: $color-primary;
        color: $color-white;
    }
}