.widget-search {
    margin-bottom: 46px;
    .widget-content-wrapper {
        border: 1px solid #D9D9D9;
        border-radius: 500px;
        overflow: hidden;
        .searchbox-textfield {
            flex: 1;
            .rt-searchbox-form {
                input {
                    width: 100%;
                    border: none;
                    padding: 0 20px;
                    color: #ADADAD;
                    background-color: #FBFBFB;
                    &::placeholder {
                        // font-family: $font-roboto;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 18px;
                        color: #ADADAD;
                    }
                    &:focus {
                        border: 1px solid transparent;
                    }
                }
            }
        }
    
        .searchbox-submit {
            .rt-searchbox-btn {
                background: #15C590;
                border-radius: 0px 40px 40px 0px;
                border: none;
                width: 60px;
                height: 58px;
                @include transition;
                &:hover {
                    background: #0b9b70;
                }
            }
        }
    }
}
