.gallery-section {
    .image-gallery {
        margin-bottom: 29px;
    }
    .img-lg {
        z-index: 0;
        position: relative;
        margin-bottom: 15px;
        img {
            border-radius: 0;
        }
        @include media-only (768px, min) {
            margin-bottom: 0;
            img {
                border-radius: 10px 0 0 10px;
            }
        }
        
    }
    .img-wrapper {
        img {
            margin-bottom: 15px;
            border-radius: 0;
            @include media-only (768px, min) {
                margin-bottom: 0;
            }
        }
        .rt-border-radius-style-2 {
            @include media-only (768px, min) {
                border-radius: 0 10px 10px 0;
            }
        }
    }
}
  
  
  