.team-card {
    .team-img-wrapper {
        border-radius: 24px;
        overflow: hidden;
        margin-bottom: 17px;
        img {
            width: 100%;
        }
    }
    .team-content {
        .social-list {
            margin-bottom: 13px;
            margin-left: -8px;
        }
        .title {
            margin-bottom: 3px;
            a {
                color: #000;
                font-size: 24px;
                font-weight: 600;
                text-transform: capitalize;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .designation {
            font-size: 18px;
            font-weight: 400;
        }
    }

}