.ad-overview-card {
    border-radius: 10px;
    border: 1px solid #E1E9E9;
    background: #FFF;
    padding: 35px 30px 30px 30px;

    .overview-top {
        margin-bottom: 18px;
        
    }

    .title-area {
        .price {
            color: $color-secondary;
            @include toRem(font-size, 30);
            font-weight: 600;
            line-height: 28px;
            text-transform: capitalize;
        }
    }

    .flag-list {
        gap: 12px;
    }

    .title {
        line-height: 28px;
        margin-bottom: 8px;
        a {
            color: $color-title;
            @include toRem(font-size, 30);
            font-weight: 600;
            text-transform: capitalize;
        }
    }

    .meta-list {
        margin-bottom: 20px;
        margin-left: -4px;
        li {
            i {
                color: #9E9FB2;
                margin-right: 4px;
            }
        }
    }

    .para-text {
        @include toRem(font-size, 15);
        line-height: 27px;
    }
}