.accordion {
    &--style-1 {
        .accordion-item {
            position: relative;
            margin-bottom: 20px;
            border: none;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.04);
            border-radius: 10px;
            .accordion-header {
                .accordion-button {
                    padding: 20px 30px;
                    // font-family: $font-roboto;
                    font-weight: 500;
                    @include toRem(font-size, 18);
                    line-height: 21px;
                    color: $color-title;
                    &::after {
                        background-image: url("../images/icons/down-arrow.svg");
                        background-size: unset;
                    }
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
                .accordion-button:not(.collapsed) {
                    color: $color-secondary;
                    background: transparent;
                    box-shadow: none;
                    padding: 20px 30px 10px 30px;
                    border: none;
                    &::after {
                        background-image: url("../images/icons/up-arrow.svg");
                        transform: rotate(0deg);
                        height: 10px;   
                    }
                }
            }
            .accordion-body {
                border: none;
                padding: 0px 30px 29px 30px;
                // font-family: $font-roboto;
                font-weight: 400;
                @include toRem(font-size, 15);
                line-height: 26px;
                color: #6B707F;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &--style-2 {
        .accordion-item {
            margin-bottom: 20px;
            &:first-child {
                border: 1px solid #DCDCDC;
            }
            &:last-child {
                border: 1px solid #DCDCDC;
            }
            box-shadow: none;
            border: 1px solid #DCDCDC;
            border-radius: 0;
            .accordion-header {
                .accordion-button {
                    &::after {
                        background-image: url("../images/icons/plus.svg");
                        height: 10px;   
                        background-size: unset;
                    }
                }
                .accordion-button:not(.collapsed) {
                    &::after {
                        background-image: url("../images/icons/minus.svg");
                        transform: rotate(0deg);
                    }
                }
            }
            .accordion-body {

            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &--style-3 {
        .accordion-item {
            position: relative;
            margin-bottom: 20px;
            border: none;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.04);
            border-radius: 10px;
            
            &:first-child {
                
            }
            box-shadow: none;
            border-radius: 0;
            .accordion-header {
                .accordion-button {
                    background: #F9F9F9;
                    gap: 4px;
                    padding: 5px 20px;
                    border: none;
                    box-shadow: none;
                    margin-bottom: 20px;
                    @include transition;
                    .icon {
                        width: 30px;
                        height: 30px;
                        border-radius: 0px 50px 50px 50px;
                    }
                    &::after {
                        background-image: url("../images/icons/up-arrow-black.svg");
                        background-size: unset;
                        width: 11px;
                        height: 11px;
                    }
                }
                .accordion-button:not(.collapsed) {
                    color: inherit;
                    // margin-bottom: 6px; 
                    @include transition;

                    background: #F9F9F9;
                    padding: 5px 20px;

                    // &::after {
                    //     background-image: url("../images/icons/minus.svg");
                    //     transform: rotate(0deg);
                    // }
                }
            }

            .accordion-body {
                padding: 0 0px 0 50px;
                ul.sidebar-nav-menu-list {
                    margin-bottom: 40px;
                    li {
                        border-bottom: 1px solid #E4E4E4;
                        position: relative;
                    &::after {
                            content: "";
                            position: absolute;
                            border-bottom: 1px solid #15C590;
                            width: 0;
                            left: 0;
                            bottom: 0;
                            @include transition;
                        }
                        &:hover {
                            &:after {
                                width: 100%;
                            } 
                            a {
                                color: #15C590;
                            }
                        }
                        a {
                            // font-family: $font-roboto;
                            font-weight: 500;
                            @include toRem(font-size, 15);
                            line-height: 50px;
                            color: #6B707F;
                        }
                    }
                }
            }
            &:nth-child(1) {
                button {
                    .icon {
                        background: #6C62CA;
                    }
                }
            }
            &:nth-child(2) {
                button {
                    .icon {
                        background: #FF8631;
                    }
                }
            }
            &:nth-child(3) {
                button {
                    .icon {
                        background: #FD5B5B;;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &--style-4 { 
        .accordion-item {
            margin-bottom: 20px;
            box-shadow: none;
            border: none;
            border-radius: 0;
            background: #F8F8FF;
            border-radius: 10px;
            &:first-child {
                border: none;
            }
            &:last-child {
                border: none;
            }
            .accordion-header {
                .accordion-button {
                    // font-family: $font-roboto;
                    font-weight: 500;
                    @include toRem(font-size, 18);
                    line-height: 21px;
                    color: $color-title;

                    border-radius: 10px;
                    background: #F8F8FF;
                    padding-left: 60px;
                    &::after {
                        background-image: url("../images/icons/boxed-plus.svg");
                        position: absolute;
                        left: 30px;
                        background-size: unset;
                    }
                    &:focus {
                        border: none;
                        box-shadow: none;
                    }
                }
                .accordion-button:not(.collapsed) {
                    color: #4F4FF4;
                    box-shadow: none;
                    &::after {
                        background-image: url("../images/icons/boxed-minus.svg");
                        transform: rotate(0deg);
                    }
                    &:focus {
                        border: none;
                        box-shadow: none;
                    }
                }
            }
            .accordion-body {
                padding: 0 30px 35px 30px;
                // font-family: $font-roboto;
                font-weight: 400;
                @include toRem(font-size, 15);
                line-height: 30px;
                color: #6B707F;

            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &--style-5 { 
        .accordion-item {
            border-left: none;
            border: 1px solid #080AEC;
            .accordion-header {
                .accordion-button {
                    padding: 5px 20px 5px 40px;
                    // font-family: $font-roboto;
                    font-weight: 500;
                    @include toRem(font-size, 16);
                    line-height: 21px;
                    color: $color-title;
                    background-color: #DFF0FF;
                    &::after {
                        background-image: url("../images/icons/blue-plus.svg");
                        background-size: unset;
                        position: absolute;
                        left: 15px;
                        height: 12px;
                    }
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
                .accordion-button:not(.collapsed) {
                    background-color: #DFF0FF;
                    &::after {
                        background-image: url("../images/icons/red-minus.svg");
                        transform: rotate(0deg);
                        height: 10px;   
                    }
                }
            }
            .accordion-body {
                background-color: #F7FAFE;
            }
            &:last-child {
            }
        }
        .accordion-item:not(:first-of-type) {
            border-top: 0;
        }
    }
}