.category-item {
    gap: 13px;
    .icon {
        width: 50px;
        height: 50px;
        overflow: hidden;
    }   
    .content {
        .category-name {
            color: var(--title-color, #070C3E);
            @include toRem(font-size, 16);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 3px;
        }
        .item-number {
            color: #6A6E9A;
            @include toRem(font-size, 13);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    &:hover {
        .icon {
            img {
                animation: fadeInBottomLeft 0.5s forwards;
            }
        }
    }

    &--style-2 {
        .icon {
            margin-bottom: 10px;
        }
        .content {
            .category-name {
                color: $color-white;
                display: inline-block;
            }
            .item-number {
                display: inline-block;
            }
        }
    }
    &--style-3 {
        border-radius: 8px;
        border: 1px solid #E9E9E9;
        background: linear-gradient(90deg, #F8F8F8 0%, #FFF 100%);
        padding: 15px 17px;
        margin-bottom: 6px;
        gap: 10px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 0;
        
        .icon {
            width: 30px;
            height: 30px;
            overflow: hidden;
        }
        .content {
            gap: 5px;
            .category-name {
                color: #515167;
                @include toRem(font-size, 17);
                font-weight: 500;
                line-height: normal;
                margin-bottom: 0;
                font-family: $font-bhaijaan;
            }
        }

        
        &:hover {
            .content {
                .category-name {
                    color: $color-primary;
                    transition: all 0.3s ease-in-out;
                    letter-spacing: 1px;
                }
                .item-number {
                    // color: $color-white;
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &--style-4 {
        gap: 10px;
        .content {
            
        }
    }
    &--style-5 {
        margin-bottom: 15px;
        @include media-only ('md', min) {
            margin-bottom: 0;
        }
        .icon { 
            width: 90px;
            height: 95px;
            z-index: 0;
            position: relative;
            margin-bottom: 8px;
            @include media-only ('md', min) {
                width: unset;
                height: unset;
            }
            .cat-shape-bg {
                position: relative;
                z-index: 1;
            }
            .cat-icon {
                position: absolute;
                z-index: 2;
            }
        }
        gap: 10px;
        .content {
            gap: 4px;
        }
        &:hover {
            .icon {
                .cat-shape-bg { 
                    animation: unset;
                }
            }
        }
    }
    &--style-6 {
        border-radius: 15px;
        border: 1px solid #E1E1E1;
        background: linear-gradient(138deg, #FFF 0%, #FAFAFA 100%);
        width: 100%;
        height: 160px;
        gap: 20px;
        @include media-only ('lg', min) {
            width: 170px;
        }
        .icon {
            width: unset;
            height: unset;
        }
    }
}

.add-state-btn {
    background-color: $color-secondary;
    border: none;
    border-radius: 100px;
    width: 250px;
    height: 111px;
    color: $color-white;
    font-family: $font-bhaijaan;
    @include toRem(font-size, 20);
    font-weight: 500;
    line-height: 0px; 
    text-transform: capitalize;
    i {
        font-size: 18px;
    }
}