.ad-post-btn {
    gap: 6px;
    border-radius: 100px;
    border: 1px solid #CD1B1E;
    background: linear-gradient(122deg, #FF282C 0%, #FF4E51 100%);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    color: $color-white;
    font-family: $font-plus-jakarta;
    font-size: 14px;
    line-height: normal;
    font-weight: 600;
    padding: 9px 14px;
    position: relative;
    i {
      font-size: 22px;
      @include transition;
    }
    svg {
      @include transition;
    }

    &::before {
      content: "";
      position: absolute;
    }

    &:hover {
      color: $color-white;
      svg {
        transform: rotate(180deg);
      }
    }

    &--style-2 {
        border-radius: 6px;
    }
}