.rt-counter-item {
    .item-title {
        h3 {
            color: $color-white;
            @include toRem(font-size, 48);
            font-weight: 600;
            line-height: 36px;
            text-transform: capitalize;
        }

        .label {
            color: #B5B6BD;
            font-family: $font-bhaijaan;
            @include toRem(font-size, 20);
            font-weight: 400;
            line-height: 28px;
            text-transform: capitalize;
        }
    }
}
