.location-accordion {
    .accordion {
        .accordion-item {
            border-radius: 10px;
            border: 1px solid #E1E9E9;
            background: $color-white;
            padding: 10px 30px 15px 30px;
            .accordion-header {
                .accordion-button {
                    color: $color-title;
                    @include toRem(font-size, 24);
                    font-weight: 600;
                    text-transform: capitalize;
                    line-height: normal;
                    padding: 10px 0;

                    &:focus {
                        border-color: none;
                        outline: unset;
                        box-shadow: none;
                    }
                    &::after {
                        background-image: url("../images/faq/dark-angle-down.svg");
                        align-self: baseline;
                        margin-top: 7px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 30px;
                        height: 4px;
                        border-radius: 100px;
                        background-color: $color-primary;
                    }
                }
                .accordion-button:not(.collapsed) {
                    background-color: transparent;
                    box-shadow: none;
                    &::after {
                        // background-image: url("../images/faq/dark-angle-down.svg");
                    }
                } 
            }
            .accordion-body {
                padding: 24px 0 8px 0;
                .map {
                    iframe {
                        height: 280px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}