.rt-card {
    position: relative;
    z-index: 0;
    overflow: hidden;

    .icon {
        margin-bottom: 25px;
        position: relative;
        overflow: hidden;
        @include transition;
        // &::before {
        //     content: "";
        //     position: absolute;
        //     background: inherit;
        //     height: inherit;
        //     width: inherit;
        //     border-radius: inherit;
        //     z-index: -1;
        // }
    }
    .card-title {
        margin-bottom: 19px;
        a {
            // font-family: $font-roboto;
            font-weight: 600;
            @include toRem(font-size, 24);
            color: $color-title;
            @include transition;
            &:hover {
                color: #1D2746;
            }
        }
        line-height: 28px;
    }
    .card-info {
        // font-family: $font-roboto;
        font-weight: 400;
        @include toRem(font-size, 16);
        line-height: 26px;
        color: #6B707F;
        margin-bottom: 24px;
        @include transition;
    }
    .card-btn {
        // font-family: $font-roboto;
        font-weight: 500;
        @include toRem(font-size, 15);
        line-height: 26px;
        color: #1D2746;
        border: 1px solid $title-font;
        border-radius: 100px;
        padding: 6px 21px;
        @include transition;
        &:hover {

        }
    }

    

    &--style-1 {
        padding: 53px 45px;
        .card-title {
            a {
                &:hover {
                    color: $color-secondary;
                }
            }
        }
        .icon {
            width: 80px;
            height: 80px;
            border-radius: 0 40px 40px 40px;
        }
        &:hover {
            // background-color: $color-white;
            // box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
            @include transition;
            .icon {
                transition: all 0.3s ease-in-out;
                border-radius: 40px 0 40px 40px;
                svg {
                    animation: fadeInUp 0.7s forwards;
                }
            }
            .card-btn {
                &:hover {
                    border: 1px solid $color-secondary;
                    color: $color-white;
                    &::before {
                        background-color: $color-secondary;
                    }
                }
            }
        }
    }
    &--style-2 {
        padding: 55px 32px;
        background: #F8F8F8;
        @include transition;
        .card-title {
            a {
                &:hover {
                    color: $color-secondary;
                }
            }
        }
        .icon {
            width: 60px;
            height: 60px;
            margin-bottom: 15px;
            border-radius: 0 40px 40px 40px;
        }
        .card-title {
            margin-bottom: 10px;
            a {
                font-weight: 500;
                @include toRem(font-size, 22);
                // &:hover {
                //     color: yellow;
                // }
            }
            line-height: 26px;
        }
        .card-info {
            line-height: 30px;
            margin-bottom: 0;
            @include transition;
        }
        &:hover {
            box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.2);
            .icon {
                transition: all 0.3s ease-in-out;
                border-radius: 40px 0 40px 40px;
                svg {
                    animation: fadeInUp 0.7s forwards;
                }
            }
            .card-title {
                // a {
                //     color: $color-white;
                // }
            }
            .card-info {
                // color: $color-white;
            }
            .card-btn {
                color: $color-white;
                border: 1px solid $color-white;
                &:hover {
                    // border: 1px solid transparent;
                }
            }
        }
    }
    &--style-3 {
        background: transparent;
        border-radius: 0;
        width: 329px;
        @include media-from-to(1200px, min, 1300px, max) {
            width: 270px;
        }
        .icon {
            width: 45px;
            height: 45px;
            background: none;
            border-radius: 10px;
            margin-bottom: 15px;
        }
        .card-title {
            margin-bottom: 5px;
            a {
                font-weight: 500;
                @include toRem(font-size, 22);
                &:hover {
                    color: $color-secondary;
                }
            }
            line-height: 26px;
        }
        .card-info {
            line-height: 30px;
            margin-bottom: 0;
            @include transition;
        }
        &:hover {
            color: unset;
            .icon {
                // background: $color-secondary;
                border: 1px solid transparent;
                svg {
                    path {
                        @include transition;
                        stroke: $color-white !important;
                    }
                }
            }
        }
    }
    &--style-4 { 
        border: 1px solid #E1E1E1;
        border-radius: 20px;
        padding: 68px 70px;
        @include transition;
        .icon {
            margin-bottom: 20px;
        }
        .card-btn {
            border: 1px solid #D9D9D9;
            border-radius: 100px;
            padding: 0;
            @include transition;
            width: 35px;
            height: 35px;

            &:hover {
                background: $color-shade24;
                border: 1px solid transparent;
                svg {
                    fill: $color-white;
                    @include transition;
                }
            }
            
        }
        .card-title {
            margin-bottom: 10px;
            a {
                font-weight: 600;
                @include toRem(font-size, 21);
                &:hover {
                    color: $color-shade25;
                }
            }
            line-height: 26px;
        }
        .card-info {
            margin-bottom: 17px;
        }


        &:hover {
            // box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
            border: 1px solid #fab6eb;
            background: $color-white;
            .icon {
                animation: fadeInDown 1s forwards;
            }
            
        }
    }
    &--style-5 {
        background: $color-white;
        border-radius: 10px;
        padding: 80px 70px;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        @include transition;

        .icon {
            margin-bottom: 15px;
            background: transparent;
        }
        .card-btn {
            border: 1px solid #D9D9D9;
            border-radius: 100px;
            padding: 0;
            @include transition;
            width: 35px;
            height: 35px;
            
        }
        .card-title {
            margin-bottom: 15px;
            a {
                font-weight: 700;
                @include toRem(font-size, 30);
                line-height: 45px;
                &:hover {
                    // color: $color-shade25;
                    cursor: unset;
                }
            }
            line-height: 45px;
        }
        .card-info {
            margin-bottom: 17px;
        }
        .text-link {
            // font-family: $font-roboto;
            font-weight: 500;
            @include toRem(font-size, 16);
            line-height: 45px;
            color: #2266EA;
            &:hover {
                color: #F8851C;
            }
        }

        &:hover {
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
            .icon {
                img {
                    animation: fadeInUp 1s forwards;
                }
            }
        }
    }
    &--style-6 { 
        background: $color-white;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        padding: 50px 40px;
        &:hover {
            .icon {
                img {
                    animation: fadeInUp 1s forwards;
                }
            }
        }
        .card-title {
            margin-bottom: 16px;
            a {
                &:hover {
                    color: $color-shade25;
                }
            }
        }
        .card-info {
            margin-bottom: 33px;
        }
        .card-btn {
            border: 1px solid #8A58F3;
            color: #8A58F3;
            line-height: 18px;
            padding: 13px 23px 12px 23px;
            &::after {
                background-color: #8A58F3;
            }
            &:hover {
                color: $color-white;
                &::before {
                    background-color: #8A58F3;
                }
            }
        }
    }
    &--style-7 {
        border-radius: 20px;
        padding: 47px 53px;
        &:hover {
            .icon {
                svg {
                    animation: fadeInUp 1s forwards;
                }
            }
        }
        .card-title {
            margin-bottom: 16px;
            a {
                color: $color-white;
                &:hover {
                    color: $color-white;
                    cursor: unset;
                }
            }
        }
        .card-info {
            margin-bottom: 33px;
            color: #EEEEEE;
        }
        .card-btn {
            border: none;
            text-decoration: underline;
            color: $color-white;
            padding: 0;
            @include toRem(font-size, 18);
            line-height: 30px;
            &:hover {
                color: $color-title;
                padding: 0;
                background: unset;
                border: none;
            }
        }
    }
    &--style-8 {
        padding: 57px 40px;
        border-radius: 20px;
        @include transition;
        .card-title {
            gap: 10px;
            line-height: 35px;
            a {
                font-weight: 500;
                @include toRem(font-size, 30);
                &:hover {
                    // color: $color-shade25;
                    cursor: unset;
                }
            }
            .icon {
                margin-bottom: 0;
            }
        }
        .card-info {
            line-height: 30px;
            margin-bottom: 19px;
        }
        .card-btn {
            border: none;
            color: $color-title;
            padding: 0;
            @include toRem(font-size, 18);
            line-height: 30px;
            gap: 10px;
            &:hover {
                color: #0289FF;
                padding: 0;
                background: unset;
                border: none;
                svg {
                    fill: #0289FF;
                    @include transition;
                }
            }
        }
        &:hover {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            background-color: $color-white;
            .icon {
                svg {
                    animation: fadeInUp 1s forwards;
                }
            }
        }
    }
}