.quote {
    background: #E3F4F4;
    padding: 38px 111px 50px 44px;
    position: relative;
    margin-bottom: 50px;
    @include media-only ('lg', min) {
        margin-left: 60px;
    }
    blockquote {
        color: #101010;
        font-family: $font-bhaijaan;
        font-size: 22px;
        font-style: italic;
        font-weight: 600;
        line-height: 36px;
        text-transform: capitalize;
        margin-bottom: 0;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        background-color: $color-primary;

    }
    &::after {
        content: url("../images/blog/quotation.svg");
        position: absolute;
        top: 24px;
        right: 27px;

    }
}