.blog-post-card {
    .blog-post-img {
        margin-bottom: 25px;
        a {
            border-radius: 10px;
            overflow: hidden;
        }
    }
    .post-content {
        .post-title {
            line-height: 28px;
            margin-bottom: 14px;
            a {
                color: $color-title;
                font-family: $font-bhaijaan;
                font-weight: 600;
                @include toRem(font-size, 25);
                @include media-only ('sm', min) {
                    @include toRem(font-size, 30);
                }
            }
        }

        .entry-meta {
            gap: 18px;
            margin-bottom: 12px;
            li {
                i {
                    margin-right: 6px;
                    font-size: 20px;
                }
                a {
                    color: $color-title;
                    font-family: $font-plus-jakarta;
                    @include toRem(font-size, 16);
                    font-weight: 600;
                    line-height: normal;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
        
        .content {
            margin-bottom: 15px;
            .para-text {
                line-height: 30px;
                text-transform: lowercase;
            }
        }

        .read-more-btn {
            border-radius: 100px;
            background: #D0EFEE;
            color: $color-title;
            font-family: $font-bhaijaan;
            @include toRem(font-size, 18);
            font-weight: 600;
            line-height: 1px;
            padding: 17px 30px;
            i {
                margin-left: 5px;
                font-size: 16px;
                padding-top: 2px;
            }

            &:hover {
                background-color: $color-primary;
                color: $color-white;
                svg {
                    fill: $color-white;
                }
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}