.filter-btn {
    border: none;
    background-color: $color-primary;
    border-radius: 6px;
    color: $color-white;
    font-family: $font-plus-jakarta;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 9px 14px 8px 17px;
    z-index: 2;
    
    i {
        font-size: 8px;
        margin-left: 4px;
    }

    &:hover {
        i {
            // transform: rotate(45deg);
        }
    }
}

.item-found-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}