.widget-recent-post {
    .post-thumb-list {

    }
    .post-area {
        gap: 15px;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
        .item-img {
            border-radius: 8px;
            overflow: hidden;
            img {
                @include transition;
                transform-origin: right center;
            }
        }
        .content {
            flex: 1;
            .entry-meta {
                svg {
                    margin-right: 3px;
                }
                span {
                    @extend .para-text;
                    @include toRem(font-size, 14);
                    i {
                        color: $color-primary;
                        font-size: 16px;
                        margin-right: 3px;
                    }
                }
            }
            .title {
                margin-bottom: 2px;
                a {
                    color: $color-title;
                    font-weight: 600;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
        &:hover {
            .item-img {
                img {
                    transform: scale(1.20);
                    transform-origin: left center;
                }
            }
        }
    }
}