.location-dropdown-wrapper {
    background-color: $color-white;
    border-radius: 100px;
    padding: 0 20px 0 16px ;
    width: 215px;
    height: 48px;
    .icon {
        color: #6A6D8B;
        margin-right: 5px;
        i {
            font-size: 20px;
        }
    }
    form.location-dropdown {
        
        .location-selector {
            .nice-select {
                padding-left: 0;
                padding-right: 40px;
                width: 145px;
                span {
                    color: #6A6D8B;
                    font-family: $font-plus-jakarta;
                    @include toRem(font-size, 14);
                    font-weight: 500;
                    line-height: normal;
                }
            }   
        }
    }

    &--style-3 {
        width: 240px;
        height: 55px;
        border-radius: 6px;
        .nice-select:after {
            width: 11px;
            height: 11px;
            right: -24px;
            top: 43%;
        }
    }
    &--style-4 {
        width: 240px;
        height: 55px;
        border-radius: 6px;
        border: 1px solid #CEDEDE;
        box-shadow: 0px 5px 8px 0px #E2F1F1, 0px 5px 8px 0px #EDF0F0;
        .nice-select:after {
            width: 11px;
            height: 11px;
            right: -24px;
            top: 43%;
        }
    }
}

.location-search-wrapper {
    gap: 13px;
}