/*=================================
// Widget-popular-tag [side widget]
===================================*/

.widget-tag {
    border-radius: 12px;
    .sub-title {
        border-radius: 8px 8px 0px 0px;
        font-family: $title-font;
        font-weight: 600;
        @include toRem(font-size, 20);
        line-height: 140%;
        display: inline-block;
        margin-bottom: 20px;
    }
    .tag-list-wrapper {
        ul.tag-list {
            row-gap: 10px;
            column-gap: 5px;
            flex-wrap: wrap;
            li {
                .tag-link {
                    border-radius: 30px;
                    background: #D0EFEE;
                    font-family: $font-plus-jakarta;
                    padding: 8px 16px;
                    color: $color-title;
                    @include toRem(font-size, 14);
                    font-weight: 600;
                    line-height: 16px;

                    &:hover {
                        background: $color-primary;
                        color: $color-white;
                    }
                }
            }
        }
    }
    
}
