.title-content {
    .title {
        font-family: $font-bhaijaan;
    }
    .sub-title {

    }   

    &--style-1 {
        .title {
            @include toRem(font-size, 48);

        }
        .sub-title {
            color: $color-title;
            font-weight: 600;
            line-height: normal;
            margin-top: -7px;
        }
    }

    &--style-2 {
        .title {
            @include toRem(font-size, 20);
            font-weight: 600;
            line-height: 22px;
        }
        .sub-title {
            color: #515167;
            @include toRem(font-size, 15);
            font-weight: 500;
            line-height: normal;
        }
    }
    
    &--style-3 {
        margin-bottom: 22px;
        .title {
            @include toRem(font-size, 30);
            font-weight: 600;
            text-transform: capitalize;
        }
        .sub-title {
            color: #515167;;
            @include toRem(font-size, 18);
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
        }
    }
}