.searchbox-wrapper {
    background-color: $color-white;
    border-radius: 100px;
    width: 433px;
    height: 48px;
    padding:  0 20px;
    .searchbox-textfield {
        width: 100%;
        form {
            input {
                padding: 10px 0 12px 0;
                border-radius: 100px;
                border: none;
                font-family: $font-plus-jakarta;
                font-size: 14px;
                font-weight: 500;
                line-height: normal;   
                width: 100%;
                &::placeholder {
                    color: #6A6D8B;
                }       
            }
        }
    }
    .searchbox-submit {
        .rt-searchbox-btn {
            border: none;
            background-color: transparent;
            color: $color-black;
            padding-top: 3px;
        }
    }
    &--style-3 {
        flex: 1 !important;
        height: 55px;
        border-radius: 6px;
        padding:  0 0 0 20px;
        overflow: hidden;
        width: 100%;
        .searchbox-submit {
            .rt-searchbox-btn {
                background-color: $color-secondary;
                color: $color-white;
                font-family: $font-plus-jakarta;
                font-size: 18px;
                font-weight: 700;
                line-height: normal;
                padding: 16px 26px;
                i { 
                    margin-left: 5px;
                }
            }
        }
    }

    &--style-4 {
        flex: 1 !important;
        height: 55px;
        border-radius: 6px;
        padding:  0 0 0 20px;
        overflow: hidden;
        width: 100%;
        border: 1px solid #CEDEDE;
        box-shadow: 0px 5px 8px 0px #EDF0F0;
        .searchbox-submit {
            .rt-searchbox-btn {
                background-color: $color-white;
                color: $color-title;
                font-family: $font-plus-jakarta;
                font-size: 18px;
                font-weight: 700;
                line-height: normal;
                padding: 16px 20px;
                i { 
                    margin-left: 5px;
                }
            }
        }
    }
}