.contact-info-box {
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 16px;
    margin-bottom: 27px;
    .contact-info-details {
        .title {
            @include toRem (font-size, 24);
            font-weight: 600;
            line-height: 28px; 
        }
        .para-text {
            line-height: 28px;
        }
    }

    &:hover {
        .icon {
            background: $color-secondary;
            svg {
                fill: $color-white;
                @include transition;
            }
        }
    }

    &:last-child {
        border-bottom: none;
    }
}