.pages-dropdown-wrapper {
    .pages-dropdown {
        .nice-select {
            width: 100px;
            span {
                color: $color-white;
                font-family: $font-plus-jakarta;
                @include toRem(font-size, 14);
                font-weight: 600;
                line-height: normal;
            }
            &:after {
                border-color: $color-white;
                right: 20px;
            }
            .list {
                left: -15%;
            }
        }
    }
}