.section-text-content {
    margin-bottom: 50px;
}

.section-heading {
    // font-family: $font-roboto;
    @include toRem(font-size, 36);
    font-weight: 700;
    line-height: 42px;
    text-transform: capitalize;
    color: $color-title;
    margin-bottom: 22px;
    text-align: center;
    color: #1D2746;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 30px;

    &--style-2 {
        border-bottom: none;
        margin: 0;
        padding-bottom: 20px;
        text-align: left;
    }
}
.para-text {
    color: #515167;
    font-family: $font-plus-jakarta;
    @include toRem(font-size, 16);
    font-weight: 500;
    line-height: 24px; 
    text-transform: capitalize;
}