.rt-author-box {
    border-radius: 10px;
    border: 1px solid #E1E9E9;
    background: #F6F9F9;

    gap: 30px;
    padding: 43px 40px 42px 49px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 60px;
    .post-author-img {
        
    }
    .post-author-content {
        flex: 1;
        .post-author-name {
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            margin-bottom: 5px;
        }
        .designation {
            font-size: 15px;
        }
        .single-share-area {
            ul {
                display: flex;
                gap: 8px;
                align-items: center;
                li {
                     a {
                        width: 26px;
                        height: 26px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50px;
                        i {
                            color: $color-white;
                        }
                        &:hover {
                            i {
                                animation: toBottomFromTop 0.5s forwards;
                            }
                        }
                    }
                }
                li:nth-child(1) {
                    font-family: $text-font;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 18px;
                    text-align: right;
                    color: #222222;
                    margin-right: 7px;
                    color: $color-title;

                }
                li:nth-child(2) {
                    a {
                        background: #1877F2;
                    }
                }
                li:nth-child(3) {
                    a {
                        background: #E60023;
                    }
                }
                li:nth-child(4) {
                    a {
                        background: #1DA1F2;
                    }
                }
            }
        }
    }

    .shapes {
        ul {
            li {
                position: absolute;
            }
            li:nth-child(1) {
                right: 0;
                top: 0;
                z-index: -1;

                width: 148px;
                height: 224px;
               
            }
            li:nth-child(2) {
                left: 0;
                bottom: 0;
                z-index: -1;

                width: 210px;
                height: 132px;
            }
            li:nth-child(3) {
                left: 75px;
                bottom: 55px;
                z-index: -1;

                width: 65px;
                height: 65px;
            }
            li:nth-child(4) {
                right: 37px;
                bottom: 187px;
                z-index: -1;
                width: 53px;
                height: 53px;
            }
        }
    }
}