.sort-area {
    margin-bottom: 21px;
    .item-found-text {
        color: $color-text;
        @include toRem(font-size, 18);
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }
}