/*=============================
//  Header
==============================*/

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    .header-content-wrap {
        row-gap: 15px;
        column-gap: 15px;
        .logo-menu-wrapper {
            // width: 100%;
            @include media-only ('lg', min) {
                width: unset;
            }       
        }
    }
    .header-logo {
        a {
            img {
                width: 100%;
                height: auto;
            }
        }
        .sticky-header-logo {
            display: none;
        }
    }

    .navbar-action-area {
        gap: 25px;
    }
}

.second-level {
  .menu--sub {
    left: 100% !important;
    top: 0 !important;
  }
}

.header {
  &--style-1 {
    padding: 22px 0 22px 0;
    background-color: $color-primary;
    
      .navbar-action-area ul li a {
          &:hover {
            color: $color-white;
            border: 1px solid $color-secondary;
            &::before {
              background-color: $color-secondary;
            }
          }
      }
  }

  &--style-2 {
    //  background-color: $color-white;
     padding: 0 50px;
     .main-menu {
        @include media-only (1400px, min) {
          padding-left: 200px;
        }
     }
    .menu--link {
      color: $color-title;
      padding: 31px 0;
    }
  }

  &--style-3 {
    .menu--link {
      color: $color-title;
      padding: 35px 0;
    }
    .navbar-action-area {
      gap: 12px;
      .ad-post-btn {
        border-radius: 6px;
        margin-left: 5px;
      }
    }
  }
  
  &--style-4 {
    .menu {
      padding-left: 55px;
      &--link {
        color: $color-white;
        padding: 30px 0;
    
        &:hover {
          color: $color-white;
    
          svg {
            // stroke: #15294B !important;
            transform: rotateY(180deg);
          }
        }
      }
      &--item {
        &--has-child {
          svg {
            stroke: $color-white;
          }
        }
      }
    }

    .navbar-action-area {
      .live-chat-wrapper {
        a {
          color: $color-white;
          i {
            color: $color-white;
          }
        }
      }
      .account-dropdown-wrapper {
        i {
          color: $color-white;
        }
        .nice-select {
          span {
            color: $color-white;
          }
          &::after {
            border-color: $color-white;
          }
        }
      }
    }

    .affix {
      .menu {
        &--link {
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }

  &--style-5 {
    .menu {
      padding-left: 0;
      &--link {
        color: #B5B8D3;
        padding: 13px 0;
    
        &:hover {
          color: $color-white;
    
          svg {
            // stroke: #15294B !important;
            transform: rotateY(180deg);
          }
        }
      }
      &--item {
        &--has-child {
          svg {
            stroke: $color-white;
          }
        }
      }
    }

    .navbar-action-area {
      gap: 20px;
      .live-chat-wrapper {
        a {
          color: #B5B8D3;
          i {
            color: $color-white;
          }
        }
      }
      .account-dropdown-wrapper {
        i {
          color: $color-white;
        }
        .nice-select {
          span {
            color: #B5B8D3;
          }
          &::after {
            border-color: $color-white;
          }
        }
      }
    }

    .affix {
      .menu {
        &--link {
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}


// menu
.menu {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  

  $self: &;

  &--link {
    position: relative;
      color: #180605;
      font-family: $font-bhaijaan;
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      padding: 15px 0;

    &--active {
      // font-weight: 500;
      // color: #0D0D0D;
    }

    &:hover {
      color: $color-primary;

      svg {
        // stroke: #15294B !important;
        transform: rotateY(180deg);
      }
    }
  }

  &--item {

    position: relative;

    // margin-right: 48.5px;
    &:last-child {
      margin-right: 0;
    }

    &:nth-last-child(1) {
      #{$self}--sub {
        // left: 100%;
        // top: 0% !important;
        // right: 0;
        //left: auto;
      }
    }

    &--active {
      >#{$self}--link {
        color: $color-secondary;

        &--active {
          color: $color-secondary;
        }
      }
    }

    &--has-child {
      a {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      svg {
        stroke: #797F89;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
      }
    }

    .second-lavel>.sub--menu {
      left: calc(100% + 1px);
      top: 0;
    }

    #{$self}--sub {
      position: absolute;
      left: 0;
      top: 100%;
      min-width: 250px;
      max-width: 250px;
      background-color: $color-white;
      color: red;
      border-top: none;
      border-radius: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      // box-shadow: 0 6px 10px 0 rgba(#000, 0.15);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      transform: scaleY(0);
      transform-origin: 0 0 0;
      transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
      visibility: hidden;
      opacity: 0;
      z-index: 9;
      display: block;
      padding-left: 10px;
      @include transition;

      #{$self}--item {
        margin: 0;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 3px;
          height: 0;
          top: 50%;
          left: 15px;
          transform: translateY(-50%);
          margin: 0;
          background: $color-primary;
          opacity: 0;
          visibility: hidden;
          transition: all 0.4s ease;
        }

        &:hover {
          &::before {
            opacity: 1;
            visibility: visible;
            height: 11px
          }
        }
      }

      #{$self}--link {
        @include toRem(font-size, 15);
        padding: 10px 15px 10px 26px;
        display: block;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 10px;

        color: #180605;
        font-family: $font-bhaijaan;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;

        &:hover {
          color: $color-primary;
        }
      }
    }

    &:hover {
      >#{$self}--sub {
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: scaleY(1);
      }
    }
  }
}


/* ------- start sticky header Affix class -------- */

.affix {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    // background-color: $color-primary;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 9;
    animation-name: fadeInDown;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-delay: 0s;
    transition: 0.3s ease-in-out;

    .header-content-wrap {

    }

    .menu--link {
      // color: $color-title;
      // padding: 35px 0;
      // @include transition;
    }
}







/*=====================================
  //  Mobile menu
  ======================================*/

.offscreen-navigation {
  .mobile-menu {
    >li {

      // border-bottom: 1px solid #e9e9e9;
      &:last-child {
        border-bottom: 0;
      }

      >a {
        // background: $rt-color-primary;
        color: $color-white;
        font-size: 16px;
        padding: 12px 30px;
        transition: all 0.3s ease-in-out;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        width: 100%;

        &:hover {
          background-color: #f8f8f8;

          &::before {
            color: $color-primary;
          }

          &::after {
            color: $color-primary;
          }
        }

        &.opened {
          background-color: #f8f8f8;
        }
      }
    }
  }

  .sub-menu {
    display: none;
    background-color: #ffffff;

    li {
      &.menu-item-has-children {
        >a {

          &::after,
          &::before {
            right: 40px;
          }
        }
      }

      a {
        border-top: 1px solid #f1f1f1;
        padding: 25px 40px;
        font-size: 15px;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: rgba(#0066ff, 0.05);
        }
      }

      .sub-menu {
        li {
          a {
            padding: 25px 50px;
          }
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      >a {
        display: block;
        position: relative;
        color: #000000;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $color-primary;
        }
      }

      &.menu-item-has-children {
        >a {
          &:after {
            color: $color-white;
            content: "\f067";
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            right: 20px;
            position: absolute;
            font-size: 12px;
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease-in-out;
          }

          &:before {
            color: #999999;
            content: "\f068";
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            right: 20px;
            position: absolute;
            font-size: 12px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
          }

          &.opened {
            &:after {
              opacity: 0;
              visibility: hidden;
            }

            &:before {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

.rt-slide-nav {
  position: absolute;
  background: #000000;
  opacity: 0.8;
  width: 100%;
  left: 0;
  display: none;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  box-shadow: 0 1px 3px 0 rgba(#000000, 0.2);
  top: 100%;
  z-index: 99;
  padding: 50px 0;
}

.rt-header-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 12px 15px;
  z-index: 999;
  background: $color-white;
  box-shadow: 0 12px 20px 0 rgba(#1a47e8, 0.16);

  @include media-only ('md', min) {
    display: none;
  }
}

.mean-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  .sidebarBtn {
    display: block;
    padding: 12px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    .bar {
      background: $color-primary;
      height: 2px;
      width: 30px;
      display: block;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;

      &:nth-child(2),
      &:nth-child(3) {
        width: 25px;
        margin-left: 5px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

body.slidemenuon {
  .sidebarBtn {
    .bar {

      &:nth-child(2),
      &:nth-child(3) {
        opacity: 0;
      }

      &:nth-child(1) {
        -webkit-transform: rotate(45deg) translate(7px, 7px);
        -ms-transform: rotate(45deg) translate(7px, 7px);
        transform: rotate(45deg) translate(7px, 7px);
      }

      &:nth-child(4) {
        -webkit-transform: rotate(-45deg) translate(8px, -8px);
        -ms-transform: rotate(-45deg) translate(8px, -8px);
        transform: rotate(-45deg) translate(8px, -8px);
      }
    }
  }
}

.underline-style {
  .parent-menu {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background: $color-white;
      width: 0;
      height: 3px;
      border-radius: 50px;
      opacity: 0;
      visibility: hidden;
      @include transition;
      width: 62px;
    }

    &:hover {
      &::before {
        width: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.home2-page {
  .underline-style {
    .parent-menu {
      &::before {
        height: 1px;
        bottom: 19px;
      }
    }
  }
}
