.sort-area {
    margin-bottom: 21px;
    .item-found-text {
        color: $color-text;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }
}