.categories-section {
    background: #FFF;
    box-shadow: 0px 4px 12px 0px #EBEBEB;
    .category-area-wrapper {
        padding: 34px 0;
        gap: 39px;

        .category-list {
            gap: 48px;
        }
    }
    
}