.faq-section {

}

.faq-main-wrapper {
    .faq-img-content {
        position: relative;
        margin-bottom: 25px;
        img {
            @include media-only ('lg', min) {
                margin-left: -45px;
                margin-bottom: 0;
            }
        }
        .circle-shape {
            position: absolute;
            left: -30px;
            right: 0;
            margin: 0 auto;
            bottom: -20px;
            animation: rotated-style 20s linear infinite;
        }
    }
    &--style-2 {
        .title-content {
            .title {
                @include toRem(font-size, 36);
                line-height: 46px;
                margin-bottom: 10px;
            }
        }
    }
}

.faq-accordion-wrapper {
    padding-top: 12px;
    .title-content {
        .title {
            color: $color-black;
            font-weight: 700;
            line-height: normal;
        }
        .para-text {

        }
    }

    .accordion {
        .accordion-item {
            border-color: #D9D9D9;
            .accordion-header {
                .accordion-button {
                    @include toRem(font-size, 22);
                    font-weight: 500;
                    line-height: normal;
                    text-transform: capitalize;
                    padding: 10px 0;
                    &:focus {
                        border-color: none;
                        outline: unset;
                        box-shadow: none;
                    }
                    &::after {
                        background-image: url("../images/faq/gray-angle-down.svg");
                    }
                }
                .accordion-button:not(.collapsed) {
                    color: $color-primary;
                    background-color: transparent;
                    box-shadow: none;
                    border-bottom: 1px solid #D9D9D9;
                    // @include transition;
                    &::after {
                        background-image: url("../images/faq/primary-angle-down.svg");
                    }
                } 
            }
            .accordion-body {
                padding: 1rem 0;
            }
            .para-text {
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
    &--style-2 {
        .accordion {
            .accordion-item {
                .accordion-header {
                    .accordion-button {
                        @include toRem(font-size, 24);
                        color: $color-text;
                        &::after {
                            background-image: url("../images/faq/plus-circle.svg");
                        }
                    }
                    .accordion-button:not(.collapsed) {
                        
                        &::after {
                            background-image: url("../images/faq/minus-circle.svg");
                        }
                    } 
                }
            }
        }
    }
}