/*======================================
// pre-loader
=====================================*/

#preloader {
  background: url("../preloader.gif") rgba(255, 255, 255, 1) no-repeat scroll center center;
  height: 100%;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
}
