.categories-section {
    background: #FFF;
    box-shadow: 0px 4px 12px 0px #EBEBEB;
}

.category-area-wrapper {
    padding: 34px 0;
    gap: 39px;
    .category-list {
        row-gap: 20px;
        column-gap: 48px;
    }
    &--style-2 {
        gap: 55px;
    }
    &--style-3 {
        padding: 0;
        margin-bottom: 30px;
    }
    &--style-4 {
        padding: 130px 30px 40px 30px;
        @include media-only ('md', min) {
            padding: 20px 0;
        }
        .category-list {
            column-gap: 31px;
        }
    }
    &--style-5 {
        .category-list {
            gap: unset;
        }
    }
}
