.call-to-action-section {
    background-image: url("../images/call-to-action/call-action-bg.jpg");
    @include background-content;
    &--style-2 {
        background-image: none;
    }
}


.call-to-action-content-wrapper {
    
    .title-content {
        .sub-title {
            color: $color-white;
            @include toRem(font-size, 26);
            font-weight: 700;
            line-height: 44px;
            @include media-only ("lg", min) {
                @include toRem(font-size, 36);
            }
        }
        .title {
            color: $color-white;
            @include toRem(font-size, 35);
            font-weight: 700;
            line-height: 62px;
            @include media-only ("lg", min) {
                @include toRem(font-size, 48);
            }
        }
    }

    .sell-pet-btn {
        width: 199px;
        height: 58px;
        background-color: $color-primary;
        border-radius: 100px;
        color: $color-white;

        color: $color-white;
        font-family: $font-plus-jakarta;
        @include toRem(font-size, 18);
        font-weight: 800;
        line-height: normal;
        i {
            margin-right: 5px;
        }
        &:hover {
            background-color: #0c827d;
        }
    }

    &--style-1 {
        padding-top: 30px;
        padding-bottom: 30px;
        @include media-only ("md", min) {
            padding-top: 22px;
            padding-bottom: 0;
        }
    }
    &--style-2 {
        background-image: url("../images/call-to-action/call-action-bg2.jpg");
        @include background-content;
        border-radius: 20px;
        overflow: hidden;
        padding: 0 50px 0 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: -100px;
        position: relative;
        z-index: 1;
        @include media-only ("md", min) {
            padding-top: 14px;
            padding-bottom: 0;
        }

        .title-content {
            flex: 1;
        }

        .see-all-btn {
            padding: 17px 38px 13px 38px;
            color: $color-white;
            font-family: $font-bhaijaan;
            @include toRem(font-size, 18);
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
            &::before, &::after {
                border-top: 30px solid #CD1B1E;
                border-bottom: 30px solid #CD1B1E;
            }
        }
    }
  
}