.categories-section {
    background: #FFF;
    box-shadow: 0px 4px 12px 0px #EBEBEB;
    &--style-2 {
        box-shadow: none;
    }
}

.category-area-wrapper {
    padding: 34px 35px;
    @include media-only (600px, min) {
        padding: 34px 0;
    }
    gap: 39px;
    .category-list {
        row-gap: 20px;
        column-gap: 48px;
    }
    &--style-2 {
        gap: 55px;
    }
    &--style-3 {
        padding: 0;
        margin-bottom: 30px;
    }
    &--style-4 {
        padding: 130px 30px 40px 30px;
        @include media-only ('md', min) {
            padding: 120px 0 20px 0;
        }
        .category-list {
            column-gap: 31px;
        }
    }
    &--style-5 {
        .category-list {
            gap: unset;
        }
    }
    &--style-6 {
        border-radius: 30px;
        padding: 20px 0;
        background: #FFF;
        box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.06);
        margin-top: -95px;
        .category-list {
            gap: 22px;
        }
        .wrapper {
            .swiper {
                padding-left: 20px;
                padding-right: 28px;
                .element-carousel {
                    .swiper-wrapper {
                        // gap: 22px;
                        .swiper-slide {
                            // margin-right: 28px !important;
                        }
                    }
                }
            }
            .slider-navigation-btn-wrapper {
                display: none;
                .swiper-arrow {
                    
                }
                .prev {
                    left: -2%;
                }
                .next {
                    right: -2%;
                }
            }
        }
        &:hover {
            .wrapper {
                .slider-navigation-btn-wrapper {
                    display: block;
                }
            }
        }
    }
}
