.faq-section {

}

.faq-main-wrapper {
    .faq-img-content {
        img {
            margin-left: -45px;
        }
    }
}

.faq-accordion-wrapper {
    &--style-1 {
        padding-top: 12px;
        .title-content {
            .title {
                color: $color-black;
                font-weight: 700;
                line-height: normal;
            }
            .para-text {

            }
        }

        .accordion {
            .accordion-item {
                border-color: #D9D9D9;
                .accordion-header {
                    .accordion-button {
                        font-size: 22px;
                        font-weight: 500;
                        line-height: normal;
                        text-transform: capitalize;
                        padding: 10px 0;
                        &:focus {
                            border-color: none;
                            outline: unset;
                            box-shadow: none;
                        }
                        &::after {
                            background-image: url("../images/faq/gray-angle-down.svg");
                        }
                    }
                    .accordion-button:not(.collapsed) {
                        color: $color-primary;
                        background-color: transparent;
                        box-shadow: none;
                        border-bottom: 1px solid #D9D9D9;
                        // @include transition;
                        &::after {
                            background-image: url("../images/faq/primary-angle-down.svg");
                        }
                    } 
                }
                .accordion-body {
                    padding: 1rem 0;
                }
                .para-text {
                    font-weight: 400;
                    line-height: 26px;
                }
            }
        }
    }
}