.about-section {
    padding-bottom: 100px;
}

.about-content {
    padding-left: 10px;
    .title {
        @include toRem(font-size, 36);
        font-weight: 600;
        line-height: 46px;
        text-transform: capitalize;
        margin-bottom: 15px;
    }
    .para-text {
        line-height: 28x;
    }
}

