
.hero-section {
    position: relative;
    padding: 60px 0 94px 0;
    z-index: 0;
    &::before {
        content: url("../../images/hero-section/hero-img-1.png");
        position: absolute;
        left: 0;
        bottom: -8px;
        z-index: 1;
        @include media-only(1400px, min) {
            left: 19.4%;
        }
        
    }
    &::after {
        content: url("../../images/hero-section/hero-img-2.png");
        position: absolute;
        right: 0;
        bottom: -8px;
        z-index: 1;
        @include media-only(1400px, min) {
            right: 19.4%;
        }
    }
    .hero-content-wrapper {
        position: relative;
        z-index: 2;
    }
    &--style-1 {
        background-image: url("../../images/hero-section/hero-banner.jpg");
        @include background-content;
        z-index: 0;
        // height: 250px;
    }
}





