.footer-section {
    position: relative;
    overflow: hidden;
    
    .rt-footer-content-wrapper {
        padding: 60px 0 30px 0;
        @include media-only('sm', min) {
            padding: 90px 0 80px 0;
        }
        .rt-footer-logo {
            margin-bottom: 15px;
        }
        .rt-footer-content {
            .rt-footer-link-list-wrapper {
                .rt-footer-link-heading {
                    // font-family: $font-roboto;
                    font-weight: 600;
                    @include toRem(font-size, 20);
                    line-height: 30px;
                    color: $color-white;
                    margin-bottom: 22px;
                }
                .para-text {
                    color: #515167;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 28px;
                    text-transform: unset;
                    margin-bottom: 33px;
                }
                ul.rt-footer-link-list {
                    li {
                        position: relative;
                        a {
                            font-family: $font-plus-jakarta;
                            color: #88899a;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 36px; 
                            transition: all 0.3s ease-in-out;

                            // &::before {
                            //     content: '';
                            //     transform-origin: 100% 50%;
                            //     transform: scale3d(0, 1, 1);
                            //     transition: transform 0.4s cubic-bezier(0.7, 0, 0.2, 1);
                            //     top: 85%;
                                
                            //     position: absolute;
                            //     width: 100%;
                            //     height: 1px;
                            //     background: $color-title;
                            //     left: 0;
                            //     pointer-events: none;
                            // }

                            &:hover {
                                color: $color-primary;
                                padding-left: 8px;
                                // &::before {
                                //     transform-origin: 0% 50%;
                                //     transform: scale3d(1, 1, 1);
                                //     transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
                                // }
                            }
                        }
                    }
                }
            }
            //
            .rt-footer-newsletter {
                background-color: #14183F;
                border-radius: 20px;
                padding: 36px 36px 43px 41px;
                .rt-footer-link-heading {
                    // font-family: $font-outfit;
                    font-weight: 600;
                    @include toRem(font-size, 24);
                    line-height: 30px;
                    color: $color-white;
                    margin-bottom: 30px;
                }
                .footer-newslapper-form {
                    width: 100%;
                    border-radius: 6px;
                    overflow: hidden;
                    input {
                        width: 100%;
                        background-color: #1C2049;
                        border: none;
                        padding: 15px 22px;
                        color: #6A6D90;

                        font-family: $font-plus-jakarta;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 26px;
                        &::placeholder {
                            color: #6A6D90;
                        }
                    }
                    .footer-newsletter-btn {
                        background-color: #1C2049;
                        color: $color-secondary;
                        border: none;
                        padding: 20px;
                    }
                }
                &--style-2 {
                    background-color: $color-secondary !important;
                    .rt-footer-link-heading {
                        color: $color-white !important;
                    }
                }
            }
        }
    }

    .rt-footer-bottom {
        // padding: 25px 0 24px 0;
        border-top: 1px solid #1E2148;;;
        .rt-footer-copyright-area {
            flex-wrap: wrap;
            .footer-logo {
                background-color: $color-secondary;
                padding: 38px 66px 36px 66px;
            }
            .rt-footer-copyright-text {
                color: #6A6D90;
                font-family: $font-plus-jakarta;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                text-transform: lowercase;
                a {
                    @extend .rt-footer-copyright-text;
                    
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }
    .shapes {
        ul {
            li {
                position: absolute;
                &:nth-child(1) {
                    left: 135px;
                    bottom: 0;  
                    display: none;
                    @include media-only('lg', min) {
                        display: block;
                    }
                }   
                &:nth-child(2) {
                    right: 80px;
                    top: 174px;  
                    z-index: -1;
                }   
            }
        }
    }

    &--style-1 {
        background-image: url("../images/footer/footer-bg.jpg");
        @include transition;
        height: 546px;
    }
    &--style-2 {
        background-color: $color-white;
        .rt-footer-content-wrapper {
            .rt-footer-logo {
                margin-bottom: 15px;
            }
            .rt-footer-content {
                .rt-footer-link-list-wrapper {
                    .rt-footer-link-heading {
                        color: $color-title;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 36px;
                        margin-bottom: 15px;
                    }
                    .para-text {
                        color: #515167;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 28px;
                        text-transform: unset;
                        margin-bottom: 33px;
                    }
                    ul.rt-footer-link-list {
                        li {
                            position: relative;
                            a {
                                color: $color-text;
                                font-family: $font-plus-jakarta;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 36px;
    
                                &:hover {
                                    color: $color-primary;
                                    padding-left: 8px;
                                }
                            }
                        }
                    }
                }
                //
                .rt-footer-newsletter {
                    background-color: #F2F3F8;
                    border-radius: 15px;
                    padding: 36px 36px 43px 41px;
                    .rt-footer-link-heading {
                        color: $color-title;
                        text-align: center;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 26px;
                        text-transform: capitalize;
                        margin-bottom: 28px;
                    }
                    .footer-newslapper-form {
                        border-radius: 6px;
                        border: 1px solid #D6DAEA;
                        input {
                            background-color: $color-white;
                            padding: 15px 22px;
                        }
                        .footer-newsletter-btn {
                            background-color: $color-white;
                            padding: 0 20px;
                        }
                    }
                }
            }
        }
        .rt-footer-bottom {
            border-top: 1px solid  #E6E6ED;
            padding: 36px 0;
            .rt-footer-copyright-area {

                .footer-logo {
                    background-color: $color-secondary;
                    padding: 38px 66px 36px 66px;
                }
                .rt-footer-copyright-text {
                    color: #6A6D90;
                    font-family: $font-plus-jakarta;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: lowercase;
                    a {
                        @extend .rt-footer-copyright-text;
                        
                        &:hover {
                            color: $color-primary;
                        }
                    }
                    margin-bottom: 25px;
                    @include media-only ('sm', min) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &--style-3 {
        padding-top: 115px;
        background-color: #101335;
        .rt-footer-content-wrapper {
            .rt-footer-content {
                .rt-footer-link-list-wrapper {
                    .para-text {
                        color: #6A6D90;
                    }
                    ul.rt-footer-link-list {
                        li {
                            position: relative;
                            a {
                                color: #6A6D90;
                            }
                        }
                    }
                }
            }
        }
        .rt-footer-bottom {
            background-color: #191D44;
            padding: 36px 0;
            border: none;
        }
    }   
}


