.error-section {

}
.error-content {
        .error-img {
            margin-bottom: 60px;
        }
        .title {
            @include toRem(font-size, 70);
            font-weight: 600;
            line-height: 80px;
            text-transform: capitalize;
            margin-bottom: 3px;
            @include media-only ('md', min) {
                @include toRem(font-size, 96);
            }
        }
        .text {
            color: $color-text;
            @include toRem(font-size, 28);
            font-weight: 400;
            line-height: 48px;
            margin-bottom: 32px; 
            @include media-only ('md', min) {
                font-size: 36px;
            }
        }
        .go-home-btn {
            border: none;
            background-color: $color-primary;
            color: $color-white;
            padding: 15px 38px;
            border-radius: 6px;
            border: 1px solid $color-primary;
            @include transition;
            &:hover {
                background-color: #19aaa5;
            }
        }
}